.mainGrid {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 50px;
}

.leftBox, .rightBox {
    color: white;
    border-radius: 15px;
}

.leftBox {
    height: 500px;
    background-color: black;
}

.rightBox {
    background-color: lightblue;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
}

.thisWeek {
    background-color: lightpink;
    height: 100px;
}

.sessions {
    margin-top: 0px;
    background-color: lightpink;
    height: 100px;
}



